/* Footer (inside sidebar — currently hidden) */

#footer {
  .icons {
    color: _palette(fg-light);
  }

  .copyright {
    color: _palette(fg-light);
    font-family: _font(family);
    font-size: 0.65em;
    letter-spacing: 0.06em;
  }
}
